[Desktop Entry]
Name=LXDM Config (admin)
Comment=LXDM Configuration tool (root)
GenericName=LXDM Configuration (root)
Exec=ktsuss lxdm-config
Icon=lxdm-config
Categories=Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings
Type=Application
Terminal=false
StartupNotify=false
