[Desktop Entry]
Name=LXDM Config
Comment=LXDM Configuration tool
GenericName=LXDM Configuration
Exec=lxdm-config
Icon=lxdm-config
Categories=Settings;
Type=Application
Terminal=false
StartupNotify=false
