[Desktop Entry]
Name=Inkscape
Comment=An open source SVG editor
GenericName=A SVG editor
Exec=inkscape-bin
Icon=inkscape-bin
Categories=Graphics
Type=Application
Terminal=false
StartupNotify=false
