[Desktop Entry]
Name=ChimeraX
Comment=UCSF ChimeraX
Exec=chimerax --color-scheme light %F
Icon=chimerax
StartupNotify=false
Type=Application
Categories=Education;
