[Desktop Entry]
Categories=Education;
Comment=Molecular evolutionary genetics analysis
Exec=mega
Icon=mega
Name=MEGA X
StartupNotify=false
Terminal=false
Type=Application
