[Desktop Entry]
Name=Jalview
Comment=A Sequence Alignment Editor and Viewer
Exec=java -jar /usr/bin/jalview.jar
Icon=jalview
StartupNotify=false
Type=Application
Categories=Education;
