[Desktop Entry]
Categories=Education;
Comment=Bioinformatics suite
Exec=runJemboss.sh
Icon=emboss
Name=EMBOSS
StartupNotify=false
Type=Application
GenericName=
