[Desktop Entry]
Name=Doom TNT
Exec=prboom-plus -iwad '/usr/share/prboom-plus/TNT.WAD'
Icon=tnt
Terminal=false
Type=Application
#Categories=Game;
StartupNotify=false
