[Desktop Entry]
Name=LSHW
Comment=HardWare LiSter for Linux
Exec=ktsuss /usr/sbin/gtk-lshw
Icon=lshw
StartupNotify=false
Type=Application
Categories=System;
