[Desktop Entry]
Version=1.0
Type=Application
Name=Clipman Settings
Comment=Clipboard manager settings
TryExec=xfce4-clipman-settings
Exec=xfce4-clipman-settings
Icon=xfce4-clipman-plugin
Terminal=false
Categories=GTK;Settings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;GNOME;
StartupNotify=false
